error
{
"name":"pl_0257",
"properties":{
"activities":[
{
"name":"ac_tran_CreateFileFromAzureDB",
"description":"Originalprocessing\n\noverview\n-Extractthetargetdatabycomparingthepreviouscrosssectionwiththeruntime\n-Convertdatatocsvfile\n-Modifythequeryasneeded\n\n",
"type":"Copy",
"dependsOn":[
{
"activity":"ac_ctrl_Setquery",
"dependencyConditions":[
"Succeeded"
]
}
],
"policy":{
"timeout":"7.00:00:00",
"retry":5,
"retryIntervalInSeconds":60,
"secureOutput":false,
"secureInput":false
},
"userProperties":[],
"typeProperties":{
"source":{
"type":"SqlDWSource",
"sqlReaderQuery":{
"value":"@variables('query')",
"type":"Expression"
},
"queryTimeout":"02:00:00",
"partitionOption":"None"
},
"sink":{
"type":"DelimitedTextSink",
"storeSettings":{
"type":"AzureBlobFSWriteSettings"
},
"formatSettings":{
"type":"DelimitedTextWriteSettings",
"quoteAllText":true,
"fileExtension":".txt"
}
},
"enableStaging":false,
"validateDataConsistency":true,
"translator":{
"type":"TabularTranslator",
"typeConversion":true,
"typeConversionSettings":{
"allowDataTruncation":true,
"treatBooleanAsNumber":false
}
}
},
"inputs":[
{
"referenceName":"ds_asyn_In",
"type":"DatasetReference"
}
],
"outputs":[
{
"referenceName":"ds_ablb_adl_DelimitedTextCrLfWithDoubleQuoteChar",
"type":"DatasetReference",
"parameters":{
"Container":{
"value":"@pipeline().parameters.Container",
"type":"Expression"
},
"Folder":{
"value":"@pipeline().parameters.ResultFolder",
"type":"Expression"
},
"FileName":{
"value":"@pipeline().parameters.MainFile",
"type":"Expression"
},
"Encoding":{
"value":"@pipeline().parameters.Encoding",
"type":"Expression"
},
"FirstRowAsHeader":{
"value":"@pipeline().parameters.FirstRowAsHeader",
"type":"Expression"
},
"ColumnDelimiter":{
"value":"@pipeline().parameters.ColumnDelimiter",
"type":"Expression"
}
}
}
]
},
{
"name":"ac_ctrl_SetqueryExecuteTime",
"description":"Commonprocessing\n\noverview\n-Setqueryexecutiontimetovariable\n\n",
"type":"SetVariable",
"dependsOn":[
{
"activity":"ac_ctrl_LookupExecuteTime",
"dependencyConditions":[
"Succeeded"
]
}
],
"policy":{
"secureOutput":false,
"secureInput":false
},
"userProperties":[],
"typeProperties":{
"variableName":"nextExecutionTIme",
"value":{
"value":"@utcnow()",
"type":"Expression"
}
}
},
{
"name":"ac_ctrl_SetExecuteTime",
"description":"Commonprocessing\n\noverview\n-Updatetheexecutiontimewiththevariableac_ctrl_SetqueryExecuteTime",
"type":"SqlServerStoredProcedure",
"dependsOn":[
{
"activity":"ac_ctrl_OutboundEndProcess",
"dependencyConditions":[
"Succeeded"
]
}
],
"policy":{
"timeout":"7.00:00:00",
"retry":0,
"retryIntervalInSeconds":30,
"secureOutput":false,
"secureInput":false
},
"userProperties":[],
"typeProperties":{
"storedProcedureName":"[dbo].[ls_SetLastExecutionTime]",
"storedProcedureParameters":{
"CompanyCode":{
"value":{
"value":"@pipeline().parameters.CompanyCode",
"type":"Expression"
},
"type":"String"
},
"FunctionId":{
"value":{
"value":"@pipeline().parameters.FunctionId",
"type":"Expression"
},
"type":"String"
},
"LastExecutionTime":{
"value":{
"value":"@variables('nextExecutionTIme')",
"type":"Expression"
},
"type":"Datetimeoffset"
}
}
},
"linkedServiceName":{
"referenceName":"AzureSqlMI_earthcmdevsqlmijpecom",
"type":"LinkedServiceReference"
}
},
{
"name":"ac_ctrl_OutboundEndProcess",
"type":"ExecutePipeline",
"dependsOn":[
{
"activity":"ac_tran_ConvertFixedFileFromCsv",
"dependencyConditions":[
"Succeeded"
]
},
{
"activity":"ac_tran_ConvertFixedFileFromCsvDetail",
"dependencyConditions":[
"Succeeded"
]
}
],
"userProperties":[],
"typeProperties":{
"pipeline":{
"referenceName":"pl_ifcm_ExecuteAzureFunctionOnly",
"type":"PipelineReference"
},
"waitOnCompletion":true,
"parameters":{
"AzureFunctionName":{
"value":"OutBoundEndProcessFunctionHttp/DoOutBoundEndProcessFunctionAction",
"type":"Expression"
},
"AzureFunctionUrl":{
"value":"@pipeline().parameters.ExternalIFComFunctionUrl",
"type":"Expression"
},
"AzureFunctionBody":{
"value":"[\n{\n\"regioncode\":\"@{pipeline().parameters.RegionCode}\",\n\"container\":\"@{pipeline().parameters.Container}\",\n\"resultfolder\":\"@{pipeline().parameters.ResultFolder}\",\n\"resultfile\":\"@{pipeline().parameters.ResultFile}\",\n\"endfilefolder\":\"@{pipeline().parameters.EndFileFolder}\",\n\"endfile\":\"@{pipeline().parameters.EndFile}\",\n\"encoding\":\"@{if(equals(pipeline().parameters.Encoding,'SHIFT-JIS'),'SJIS',if(equals(pipeline().parameters.Encoding,'EUC-JP'),'EUC','UTF8'))}\",\n\"zerofilelinkageflag\":\"@{pipeline().parameters.ZeroFileLinkageFlag}\",\n\"endfilecreationflag\":\"@{pipeline().parameters.EndFileCreationFlag}\",\n\"transfertype\":\"@{pipeline().parameters.TransferType}\",\n\"excludelinesc\":\"@{pipeline().parameters.ExcludeLinesc}\",\n\"sharedstoragecontainer\":\"@{pipeline().parameters.SharedStorageContainer}\",\n\"sharedstorageiffilefolder\":\"@{pipeline().parameters.SharedStorageIFFileFolder}\",\n\"sharedstoragearchivefolder\":\"@{pipeline().parameters.SharedStorageArchiveFolder}\",\n\"fileid\":\"@{pipeline().parameters.FileId}\",\n\"filler\":\"\",\n\"endNotificationFileNewlineCode\":\"CRLF\"\n},\n{\n\"regioncode\":\"@{pipeline().parameters.RegionCode}\",\n\"container\":\"@{pipeline().parameters.Container}\",\n\"resultfolder\":\"@{pipeline().parameters.ResultFolderDetail}\",\n\"resultfile\":\"@{pipeline().parameters.ResultFileDetail}\",\n\"endfilefolder\":\"@{pipeline().parameters.EndFileFolderDetail}\",\n\"endfile\":\"@{pipeline().parameters.EndFileDetail}\",\n\"encoding\":\"@{if(equals(pipeline().parameters.Encoding,'SHIFT-JIS'),'SJIS',if(equals(pipeline().parameters.Encoding,'EUC-JP'),'EUC','UTF8'))}\",\n\"zerofilelinkageflag\":\"@{pipeline().parameters.ZeroFileLinkageFlag}\",\n\"endfilecreationflag\":\"@{pipeline().parameters.EndFileCreationFlag}\",\n\"transfertype\":\"@{pipeline().parameters.TransferType}\",\n\"excludelinesc\":\"@{pipeline().parameters.ExcludeLinesc}\",\n\"sharedstoragecontainer\":\"@{pipeline().parameters.SharedStorageContainer}\",\n\"sharedstorageiffilefolder\":\"@{pipeline().parameters.SharedStorageIFFileFolder}\",\n\"sharedstoragearchivefolder\":\"@{pipeline().parameters.SharedStorageArchiveFolder}\",\n\"fileid\":\"@{pipeline().parameters.FileId}\",\n\"filler\":\"\",\n\"endNotificationFileNewlineCode\":\"CRLF\"\n}\n]",
"type":"Expression"
},
"SecretName":{
"value":"@pipeline().parameters.ExternalIFComFunctionSecretName",
"type":"Expression"
}
}
}
},
{
"name":"ac_ctrl_LookupExecuteTime",
"description":"Commonprocessing\n\noverview\n-Executeastoredproceduretogetthelastexecutiontime\n\n\n\n",
"type":"Lookup",
"dependsOn":[],
"policy":{
"timeout":"7.00:00:00",
"retry":0,
"retryIntervalInSeconds":30,
"secureOutput":false,
"secureInput":false
},
"userProperties":[],
"typeProperties":{
"source":{
"type":"SqlMISource",
"sqlReaderStoredProcedureName":"[dbo].[ls_GetLastExecutionTime]",
"storedProcedureParameters":{
"CompanyCode":{
"type":"String",
"value":"ALL"
},
"FunctionId":{
"type":"String",
"value":"LS_IF_0257"
},
"LastExecutionTime":{
"type":"DateTime",
"value":"2023-08-0813:23:22"
}
},
"partitionOption":"None"
},
"dataset":{
"referenceName":"ds_sqlmi_In",
"type":"DatasetReference",
"parameters":{
"SchemaName":"dbo",
"TableName":{
"value":"\"\"",
"type":"Expression"
}
}
}
}
},
{
"name":"ac_ctrl_Setquery",
"type":"SetVariable",
"dependsOn":[
{
"activity":"ac_ctrl_ExecuteConvertCodeAzureFunction",
"dependencyConditions":[
"Succeeded"
]
}
],
"policy":{
"secureOutput":false,
"secureInput":false
},
"userProperties":[],
"typeProperties":{
"variableName":"query",
"value":{
"value":"WITHconvertionCodeTbAS(\nSELECTvalue,\nSUBSTRING(value,0,CHARINDEX(',',value))AScodeCategory,\nSUBSTRING(value,(firstComma+1),(secondComma-(firstComma+1)))ASCodeMeaning,\nSUBSTRING(value,(secondComma+1),(thirdComma-(secondComma+1)))AScodeSource,\nSUBSTRING(value,(thirdComma+1),LEN(value))AScodeDestination\nFROM(\nSELECTvalue,\nCHARINDEX(',',value)ASfirstComma,\nCHARINDEX(',',value,CHARINDEX(',',value)+1)ASsecondComma,\nCHARINDEX(',',value,CHARINDEX(',',value,CHARINDEX(',',value)+1)+1)ASthirdComma\nFROMSTRING_SPLIT(REPLACE(N'@{replace(activity('ac_ctrl_ExecuteConvertCodeAzureFunction').output.Response,'''','''''')}',CHAR(13)+CHAR(10),CHAR(10)),CHAR(10))\n)ASX\n)\n\n\nSELECT\n\nISNULL(InvoiceNo,'')ASInvoiceNo,\nISNULL(CustMIMECode,'')ASCustMIMECode,\nISNULL(AreaCode,'')ASAreaCode,\nISNULL(ExportForm,'')ASExportForm,\nISNULL(SoldToCode,'')ASSoldToCode,\nISNULL(SoldToName1,'')ASSoldToName1,\nISNULL(SoldToName2,'')ASSoldToName2,\nREPLACE(REPLACE(SoldToAddress1,CHAR(13),''),CHAR(10),'')ASSoldToAddress1,\nREPLACE(REPLACE(SoldToAddress2,CHAR(13),''),CHAR(10),'')ASSoldToAddress2,\nREPLACE(REPLACE(SoldToAddress3,CHAR(13),''),CHAR(10),'')ASSoldToAddress3,\nREPLACE(REPLACE(SoldToAddress4,CHAR(13),''),CHAR(10),'')ASSoldToAddress4,\nISNULL(ConsigneeCode,'')ASConsigneeCode,\nISNULL(ConsigneeName1,'')ASConsigneeName1,\nISNULL(ConsigneeName2,'')ASConsigneeName2,\nREPLACE(REPLACE(ConsigneeAddress1,CHAR(13),''),CHAR(10),'')ASConsigneeAddress1,\nREPLACE(REPLACE(ConsigneeAddress2,CHAR(13),''),CHAR(10),'')ASConsigneeAddress2,\nREPLACE(REPLACE(ConsigneeAddress3,CHAR(13),''),CHAR(10),'')ASConsigneeAddress3,\nREPLACE(REPLACE(ConsigneeAddress4,CHAR(13),''),CHAR(10),'')ASConsigneeAddress4,\nISNULL(DeliveryToCode,'')ASDeliveryToCode,\nISNULL(DeliveryToName1,'')ASDeliveryToName1,\nISNULL(DeliveryToName2,'')ASDeliveryToName2,\nREPLACE(REPLACE(DeliveryToAddress1,CHAR(13),''),CHAR(10),'')ASDeliveryToAddress1,\nREPLACE(REPLACE(DeliveryToAddress2,CHAR(13),''),CHAR(10),'')ASDeliveryToAddress2,\nREPLACE(REPLACE(DeliveryToAddress3,CHAR(13),''),CHAR(10),'')ASDeliveryToAddress3,\nREPLACE(REPLACE(DeliveryToAddress4,CHAR(13),''),CHAR(10),'')ASDeliveryToAddress4,\nISNULL(NotifyCode,'')ASNotifyCode,\nISNULL(NotifyName1,'')ASNotifyName1,\nISNULL(NotifyName2,'')ASNotifyName2,\nREPLACE(REPLACE(NotifyAddress1,CHAR(13),''),CHAR(10),'')ASNotifyAddress1,\nREPLACE(REPLACE(NotifyAddress2,CHAR(13),''),CHAR(10),'')ASNotifyAddress2,\nREPLACE(REPLACE(NotifyAddress3,CHAR(13),''),CHAR(10),'')ASNotifyAddress3,\nREPLACE(REPLACE(NotifyAddress4,CHAR(13),''),CHAR(10),'')ASNotifyAddress4,\nISNULL(LastSoldToCode,'')ASLastSoldToCode,\nISNULL(LastSoldToName1,'')ASLastSoldToName1,\nISNULL(LastSoldToName2,'')ASLastSoldToName2,\nREPLACE(REPLACE(LastSoldToAddress1,CHAR(13),''),CHAR(10),'')ASLastSoldToAddress1,\nREPLACE(REPLACE(LastSoldToAddress2,CHAR(13),''),CHAR(10),'')ASLastSoldToAddress2,\nREPLACE(REPLACE(LastSoldToAddress3,CHAR(13),''),CHAR(10),'')ASLastSoldToAddress3,\nREPLACE(REPLACE(LastSoldToAddress4,CHAR(13),''),CHAR(10),'')ASLastSoldToAddress4,\n--輸送方法コード\nCASEWHENTransMethodCode='Sea'THEN\n'10'\nWHENTransMethodCode='Air'THEN\n'40'\nWHENTransMethodCode='Truck'THEN\n'T'\nELSE\nTransMethodCode\nEND\nASTransMethodCode,\nISNULL(A41.codeDestination,'')ASPayFreeType,\n--売上/未収区分\nCASEWHENCONVERT(nvarchar,StillReceiptFlag)='1'THEN\n'2'\nWHENCONVERT(nvarchar,StillReceiptFlag)='0'THEN\n'1'\nELSE\nCONVERT(nvarchar,StillReceiptFlag)\nEND\nASStillReceiptFlag,\nISNULL(PayTerm1,'')ASPayTerm1,\nISNULL(PayTerm2,'')ASPayTerm2,\nISNULL(PayTerm3,'')ASPayTerm3,\nISNULL(CurrencyCode,'')ASCurrencyCode,\nISNULL(PricingTermCode,'')ASPricingTermCode,\nISNULL(PricingTermName,'')ASPricingTermName,\nISNULL(PricingTermPlaceCode,'')ASPricingTermPlaceCode,\nISNULL(PricingTermPlaceName,'')ASPricingTermPlaceName,\nISNULL(TradingTermCode,'')ASTradingTermCode,\nISNULL(TradingTermName,'')ASTradingTermName,\nISNULL(TradingTermPlaceCode,'')ASTradingTermPlaceCode,\nISNULL(TradingTermPlaceName,'')ASTradingTermPlaceName,\nCONVERT(nvarchar,TotalAmount)ASTotalAmount,\nISNULL(FreightPayCode,'')ASFreightPayCode,\nISNULL(ReferenceNo,'')ASReferenceNo,\nCASEWHENCONVERT(nvarchar,PriceDate,112)='19000101'THEN\n''\nELSE\nCONVERT(nvarchar,PriceDate,112)\nEND\nASPriceDate,\nCASEWHENCONVERT(nvarchar,FASDueDate,112)='19000101'THEN\n''\nELSE\nCONVERT(nvarchar,FASDueDate,112)\nEND\nASFASDueDate,\nCASEWHENCONVERT(nvarchar,FOBDueDate,112)='19000101'THEN\n''\nELSE\nCONVERT(nvarchar,FOBDueDate,112)\nEND\nASFOBDueDate,\nGoodsType,\nISNULL(A62.codeDestination,'')ASFromImpSys,\nLastCustMIMECode,\nLastCustOrdCurrency,\nInvoicePersonCode,\nCASEWHENCONVERT(nvarchar,InvoiceCreationDate,112)='19000101'THEN\n''\nELSE\nCONVERT(nvarchar,InvoiceCreationDate,112)\nEND\nASInvoiceCreationDate,\nISNULL(Vessel,'')ASVessel,\nISNULL(LoadingCode,'')ASLoadingCode,\nISNULL(DestinationCode,'')ASDestinationCode,\nISNULL(InvoiceTitleCode,'')ASInvoiceTitleCode,\nISNULL(CORemarks1,'')ASCORemarks1,\nISNULL(CORemarks2,'')ASCORemarks2,\nISNULL(CORemarks3,'')ASCORemarks3,\nISNULL(CORemarks4,'')ASCORemarks4,\nISNULL(CORemarks5,'')ASCORemarks5,\nISNULL(CORemarks6,'')ASCORemarks6,\nCONVERT(nvarchar,CONVERT(BIGINT,TotalPackQty))ASTotalPackQty,\nISNULL(TotalPackCode,'')ASTotalPackCode,\nISNULL(InsidePackQty,'')ASInsidePackQty,\nISNULL(AddCalCode,'')ASAddCalCode,\nISNULL(Remarks1,'')ASRemarks1,\nISNULL(Remarks2,'')ASRemarks2,\nISNULL(Remarks3,'')ASRemarks3,\nISNULL(Remarks4,'')ASRemarks4,\nISNULL(Remarks5,'')ASRemarks5,\nISNULL(Remarks6,'')ASRemarks6,\nISNULL(Remarks7,'')ASRemarks7,\nISNULL(Remarks8,'')ASRemarks8,\nISNULL(Remarks9,'')ASRemarks9,\nISNULL(Remarks10,'')ASRemarks10,\nISNULL(Remarks11,'')ASRemarks11,\nISNULL(Remarks12,'')ASRemarks12,\nISNULL(Remarks13,'')ASRemarks13,\nISNULL(Remarks14,'')ASRemarks14,\nISNULL(Remarks15,'')ASRemarks15,\nISNULL(Remarks16,'')ASRemarks16,\nISNULL(Remarks17,'')ASRemarks17,\nISNULL(Remarks18,'')ASRemarks18,\nISNULL(Remarks19,'')ASRemarks19,\nISNULL(Remarks20,'')ASRemarks20,\nISNULL(Remarks21,'')ASRemarks21,\nISNULL(Remarks22,'')ASRemarks22,\nISNULL(Remarks23,'')ASRemarks23,\nISNULL(Remarks24,'')ASRemarks24,\nISNULL(CaseMarkCode,'')ASCaseMarkCode,\nISNULL(CaseMark1,'')ASCaseMark1,\nISNULL(CaseMark2,'')ASCaseMark2,\nISNULL(CaseMark3,'')ASCaseMark3,\nISNULL(CaseMark4,'')ASCaseMark4,\nISNULL(CaseMark5,'')ASCaseMark5,\nISNULL(CaseMark6,'')ASCaseMark6,\nISNULL(CaseMark7,'')ASCaseMark7,\nISNULL(CaseMark8,'')ASCaseMark8,\nISNULL(CaseMark9,'')ASCaseMark9,\nISNULL(CaseMark10,'')ASCaseMark10,\nISNULL(CaseMark11,'')ASCaseMark11,\nISNULL(CaseMark12,'')ASCaseMark12,\nISNULL(Attention,'')ASAttention,\nISNULL(InvoiceIssueLocation,'')ASInvoiceIssueLocation,\nISNULL(ForwarderCode,'')ASForwarderCode,\nISNULL(ShipperCode,'')ASShipperCode,\nCASEWHENCONVERT(nvarchar,ETADate,112)='19000101'THEN\n''\nELSE\nCONVERT(nvarchar,ETADate,112)\nEND\nASETADate,\nCONVERT(nvarchar,GrossWeight)ASGrossWeight,\nCONVERT(nvarchar,Volume)ASVolume\n\nFROM\n\n@{concat(variables('dbName'),\n'earth_dp_ShipmentRequestInfoHeaderIF')}\n\nLEFTJOINconvertionCodeTbASA41ONA41.codeCategory='earth_dp_PayFreeTypeInterface'ANDPayFreeType=A41.codeSource\nLEFTJOINconvertionCodeTbASA62ONA62.codeCategory='earth_dp_FromImportSystem'ANDFromImpSys=A62.codeSource\n\nWHERE\n--出荷依頼情報(表題)IF(earth_dp_ShipmentRequestInfoHeaderIF).作成日時(CREATEDDATETIME)>AzureDB.前回出力日時)\n--AND出荷依頼情報(表題)IF(earth_dp_ShipmentRequestInfoHeaderIF).作成日時(CREATEDDATETIME)<=AzureDB.次回出力日時)\nCREATEDDATETIME>'@{formatDateTime(activity('ac_ctrl_LookupExecuteTime').output.firstRow.LastExecutionTime,'yyyy-MM-ddHH:mm:ss')}'\nANDCREATEDDATETIME<='@{formatDateTime(variables('nextExecutionTIme'),'yyyy-MM-ddHH:mm:ss')}'\n",
"type":"Expression"
}
}
},
{
"name":"ac_tran_ConvertFixedFileFromCsv",
"type":"ExecutePipeline",
"dependsOn":[
{
"activity":"ac_tran_CreateFileFromAzureDB",
"dependencyConditions":[
"Succeeded"
]
}
],
"userProperties":[],
"typeProperties":{
"pipeline":{
"referenceName":"pl_ifcm_ExecuteAzureFunctionOnly",
"type":"PipelineReference"
},
"waitOnCompletion":true,
"parameters":{
"AzureFunctionName":"HandleFileFunctionHttp/DoConvertFromCsvDataToFixDataAction",
"AzureFunctionUrl":{
"value":"@pipeline().parameters.HandleFileFunctionUrl",
"type":"Expression"
},
"AzureFunctionBody":{
"value":"{\n\"regionrshort\":\"@{pipeline().parameters.RegionCode}\",\n\"containername\":\"@{pipeline().parameters.Container}\",\n\"mainfilefolder\":\"@{pipeline().parameters.ResultFolder}\",\n\"mainfile\":\"@{pipeline().parameters.MainFile}\",\n\"propertyfilefolder\":\"@{pipeline().parameters.PropertyFolder}\",\n\"propertyfile\":\"@{pipeline().parameters.PropertyFile}\",\n\"resultfilefolder\":\"@{pipeline().parameters.ResultFolder}\",\n\"resultfile\":\"@{pipeline().parameters.ResultFile}\",\n\"connstr\":\"@{pipeline().parameters.Connstr}\",\n\"encoder\":\"@{if(equals(pipeline().parameters.Encoding,'SHIFT-JIS'),'SJIS',if(equals(pipeline().parameters.Encoding,'EUC-JP'),'EUC','UTF8'))}\",\n\"returnchar\":\"@{pipeline().parameters.ReturnChar}\"\n}",
"type":"Expression"
},
"SecretName":{
"value":"@pipeline().parameters.HandleFileFunctionSecretName",
"type":"Expression"
}
}
}
},
{
"name":"ac_tran_CreateFileFromAzureDBDetail",
"description":"Originalprocessing\n\noverview\n-Extractthetargetdatabycomparingthepreviouscrosssectionwiththeruntime\n-Convertdatatocsvfile\n-Modifythequeryasneeded\n\n",
"type":"Copy",
"dependsOn":[
{
"activity":"ac_ctrl_SetqueryDetail",
"dependencyConditions":[
"Succeeded"
]
}
],
"policy":{
"timeout":"7.00:00:00",
"retry":5,
"retryIntervalInSeconds":60,
"secureOutput":false,
"secureInput":false
},
"userProperties":[],
"typeProperties":{
"source":{
"type":"SqlDWSource",
"sqlReaderQuery":{
"value":"@variables('queryDetail')",
"type":"Expression"
},
"queryTimeout":"02:00:00",
"partitionOption":"None"
},
"sink":{
"type":"DelimitedTextSink",
"storeSettings":{
"type":"AzureBlobFSWriteSettings"
},
"formatSettings":{
"type":"DelimitedTextWriteSettings",
"quoteAllText":true,
"fileExtension":".txt"
}
},
"enableStaging":false,
"validateDataConsistency":true,
"translator":{
"type":"TabularTranslator",
"typeConversion":true,
"typeConversionSettings":{
"allowDataTruncation":true,
"treatBooleanAsNumber":false
}
}
},
"inputs":[
{
"referenceName":"ds_asyn_In",
"type":"DatasetReference"
}
],
"outputs":[
{
"referenceName":"ds_ablb_adl_DelimitedTextCrLfWithDoubleQuoteChar",
"type":"DatasetReference",
"parameters":{
"Container":{
"value":"@pipeline().parameters.Container",
"type":"Expression"
},
"Folder":{
"value":"@pipeline().parameters.ResultFolderDetail",
"type":"Expression"
},
"FileName":{
"value":"@pipeline().parameters.MainFileDetail",
"type":"Expression"
},
"Encoding":{
"value":"@pipeline().parameters.Encoding",
"type":"Expression"
},
"FirstRowAsHeader":{
"value":"@pipeline().parameters.FirstRowAsHeader",
"type":"Expression"
},
"ColumnDelimiter":{
"value":"@pipeline().parameters.ColumnDelimiter",
"type":"Expression"
}
}
}
]
},
{
"name":"ac_ctrl_SetqueryDetail",
"type":"SetVariable",
"dependsOn":[
{
"activity":"ac_ctrl_ExecuteConvertCodeAzureFunction",
"dependencyConditions":[
"Succeeded"
]
}
],
"policy":{
"secureOutput":false,
"secureInput":false
},
"userProperties":[],
"typeProperties":{
"variableName":"queryDetail",
"value":{
"value":"SELECT\n\nISNULL(b.InvoiceNo,'')ASInvoiceNo,\nSUBSTRING(b.OrderNumber,6,LEN(b.OrderNumber))ASOrderNumber,\nCONVERT(nvarchar,CONVERT(BIGINT,b.OrderLineNumber))ASOrderLineNumber,\nISNULL(b.PartsNo,'')ASPartsNo,\nISNULL(b.ProductCode,'')ASProductCode,\nISNULL(b.AssocMachineType,'')ASAssocMachineType,\nREPLACE(REPLACE(ProductName1,CHAR(13),''),CHAR(10),'')ASProductName1,\nREPLACE(REPLACE(ProductName2,CHAR(13),''),CHAR(10),'')ASProductName2,\nREPLACE(REPLACE(ProductName3,CHAR(13),''),CHAR(10),'')ASProductName3,\nISNULL(b.CustItemCode,'')ASCustItemCode,\nCONVERT(nvarchar,CONVERT(BIGINT,b.NetWeight))ASNetWeight,\nISNULL(b.OriginCode,'')ASOriginCode,\nISNULL(b.HSCode,'')ASHSCode,\nISNULL(b.SpareModelCode,'')ASSpareModelCode,\nISNULL(b.SpareModelName,'')ASSpareModelName,\nISNULL(b.LastCustProductCode,'')ASLastCustProductCode,\nREPLACE(REPLACE(LastCustProductName1,CHAR(13),''),CHAR(10),'')ASLastCustProductName1,\nREPLACE(REPLACE(LastCustProductName2,CHAR(13),''),CHAR(10),'')ASLastCustProductName2,\nREPLACE(REPLACE(LastCustProductName3,CHAR(13),''),CHAR(10),'')ASLastCustProductName3,\nCONVERT(nvarchar,b.LastCustOrdPrice)ASLastCustOrdPrice,\nCONVERT(nvarchar,CONVERT(BIGINT,b.Quantity))ASQuantity,\nISNULL(b.OrderQuantityUom,'')ASOrderQuantityUom,\nCONVERT(nvarchar,b.UnitPrice)ASUnitPrice,\nCONVERT(nvarchar,b.Amount)ASAmount,\nISNULL(b.CustomerPONo1,'')ASCustomerPONo1,\nISNULL(b.CustomerPONo2,'')ASCustomerPONo2,\nISNULL(b.CustomerPONo3,'')ASCustomerPONo3,\nISNULL(b.CustomerPONo4,'')ASCustomerPONo4,\nISNULL(b.CustomerPONo5,'')ASCustomerPONo5,\nISNULL(b.ChargeDeptCode,'')ASChargeDeptCode,\nISNULL(b.ProjectCode1,'')ASProjectCode1,\nISNULL(b.ChargeDeptCode2,'')ASChargeDeptCode2,\nISNULL(b.ProjectCode2,'')ASProjectCode2,\nISNULL(b.ChargeDeptCode3,'')ASChargeDeptCode3,\nISNULL(b.ProjectCode3,'')ASProjectCode3,\nISNULL(b.VanWhseCode,'')ASVanWhseCode,\nISNULL(b.AccountDeptCode,'')ASAccountDeptCode,\nCONVERT(nvarchar,b.Imoh)ASImoh,\nCONVERT(nvarchar,b.Markup)ASMarkup,\nCONVERT(nvarchar,b.ChargeFOB)ASChargeFOB,\nCONVERT(nvarchar,b.ChargeOther)ASChargeOther,\nISNULL(b.ProductLineName,'')ASProductLineName,\nISNULL(b.ProductLineCode,'')ASProductLineCode,\nISNULL(b.PTANo,'')ASPTANo,\nISNULL(b.LOS,'')ASLOS,\nCONVERT(nvarchar,b.GoodsCharge)ASGoodsCharge,\nCONVERT(nvarchar,b.ToolingCharge)ASToolingCharge\n\nFROM\n@{concat(variables('dbName'),'earth_dp_ShipmentRequestInfoHeaderIF')}a\nINNERJOIN@{concat(variables('dbName'),'earth_dp_ShipmentRequestInfoLineIF')}bONa.InvoiceNo=b.InvoiceNo\nWHERE\n--出荷依頼情報(表題)IF(earth_dp_ShipmentRequestInfoHeaderIF).作成日時(CREATEDDATETIME)>AzureDB.前回出力日時)\n--AND出荷依頼情報(表題)IF(earth_dp_ShipmentRequestInfoHeaderIF).作成日時(CREATEDDATETIME)<=AzureDB.次回出力日時)\na.CREATEDDATETIME>'@{formatDateTime(activity('ac_ctrl_LookupExecuteTime').output.firstRow.LastExecutionTime,'yyyy-MM-ddHH:mm:ss')}'\nANDa.CREATEDDATETIME<='@{formatDateTime(variables('nextExecutionTIme'),'yyyy-MM-ddHH:mm:ss')}'\n",
"type":"Expression"
}
}
},
{
"name":"ac_tran_ConvertFixedFileFromCsvDetail",
"type":"ExecutePipeline",
"dependsOn":[
{
"activity":"ac_tran_CreateFileFromAzureDBDetail",
"dependencyConditions":[
"Succeeded"
]
}
],
"userProperties":[],
"typeProperties":{
"pipeline":{
"referenceName":"pl_ifcm_ExecuteAzureFunctionOnly",
"type":"PipelineReference"
},
"waitOnCompletion":true,
"parameters":{
"AzureFunctionName":"HandleFileFunctionHttp/DoConvertFromCsvDataToFixDataAction",
"AzureFunctionUrl":{
"value":"@pipeline().parameters.HandleFileFunctionUrl",
"type":"Expression"
},
"AzureFunctionBody":{
"value":"{\n\"regionrshort\":\"@{pipeline().parameters.RegionCode}\",\n\"containername\":\"@{pipeline().parameters.Container}\",\n\"mainfilefolder\":\"@{pipeline().parameters.ResultFolderDetail}\",\n\"mainfile\":\"@{pipeline().parameters.MainFileDetail}\",\n\"propertyfilefolder\":\"@{pipeline().parameters.PropertyFolderDetail}\",\n\"propertyfile\":\"@{pipeline().parameters.PropertyFileDetail}\",\n\"resultfilefolder\":\"@{pipeline().parameters.ResultFolderDetail}\",\n\"resultfile\":\"@{pipeline().parameters.ResultFileDetail}\",\n\"connstr\":\"@{pipeline().parameters.Connstr}\",\n\"encoder\":\"@{if(equals(pipeline().parameters.Encoding,'SHIFT-JIS'),'SJIS',if(equals(pipeline().parameters.Encoding,'EUC-JP'),'EUC','UTF8'))}\",\n\"returnchar\":\"@{pipeline().parameters.ReturnChar}\"\n}",
"type":"Expression"
},
"SecretName":{
"value":"@pipeline().parameters.HandleFileFunctionSecretName",
"type":"Expression"
}
}
}
},
{
"name":"ac_ctrl_ExecuteConvertCodeAzureFunction",
"description":"",
"type":"AzureFunctionActivity",
"dependsOn":[
{
"activity":"ac_ctrl_SetqueryExecuteTime",
"dependencyConditions":[
"Succeeded"
]
}
],
"policy":{
"timeout":"7.00:00:00",
"retry":0,
"retryIntervalInSeconds":30,
"secureOutput":false,
"secureInput":false
},
"userProperties":[],
"typeProperties":{
"functionName":"GetConvertionCode",
"method":"POST",
"body":{
"value":"@pipeline().parameters.ConvertCodeFunctionParam",
"type":"Expression"
}
},
"linkedServiceName":{
"referenceName":"AzureFunction_earthdevfuncjpelsconvertcode",
"type":"LinkedServiceReference"
}
}
],
"concurrency":1,
"parameters":{
"FunctionId":{
"type":"string",
"defaultValue":"LS_IF_0257"
},
"RegionCode":{
"type":"string",
"defaultValue":"ls"
},
"Container":{
"type":"string",
"defaultValue":"externalif-ne"
},
"MainFile":{
"type":"string",
"defaultValue":"LS_IF_0257_FLONE0006"
},
"MainFileDetail":{
"type":"string",
"defaultValue":"LS_IF_0257_FLONE0007"
},
"PropertyFolder":{
"type":"string",
"defaultValue":"uttech/conf/0257"
},
"PropertyFolderDetail":{
"type":"string",
"defaultValue":"uttech/conf/0258"
},
"PropertyFile":{
"type":"string",
"defaultValue":"FLONE0006_Definition.csv"
},
"PropertyFileDetail":{
"type":"string",
"defaultValue":"FLONE0007_Definition.csv"
},
"ResultFolder":{
"type":"string",
"defaultValue":"uttech/azure/0257/conv"
},
"ResultFolderDetail":{
"type":"string",
"defaultValue":"uttech/azure/0258/conv"
},
"ResultFile":{
"type":"string",
"defaultValue":"FLONE0006"
},
"ResultFileDetail":{
"type":"string",
"defaultValue":"FLONE0007"
},
"EndFileFolder":{
"type":"string",
"defaultValue":"uttech/azure/0257/endfile"
},
"EndFileFolderDetail":{
"type":"string",
"defaultValue":"uttech/azure/0258/endfile"
},
"EndFile":{
"type":"string",
"defaultValue":"FLONE0006.fen"
},
"EndFileDetail":{
"type":"string",
"defaultValue":"FLONE0007.fen"
},
"SharedStorageContainer":{
"type":"string",
"defaultValue":"fileif-ne"
},
"SharedStorageIFFileFolder":{
"type":"string",
"defaultValue":"ftp/dpne0009"
},
"SharedStorageArchiveFolder":{
"type":"string",
"defaultValue":"backup/data/dpne0009"
},
"ZeroFileLinkageFlag":{
"type":"bool",
"defaultValue":true
},
"EndFileCreationFlag":{
"type":"bool",
"defaultValue":true
},
"TransferType":{
"type":"string",
"defaultValue":"PUT"
},
"ReturnChar":{
"type":"string",
"defaultValue":"CRLF"
},
"Connstr":{
"type":"string",
"defaultValue":"0"
},
"Encoding":{
"type":"string",
"defaultValue":"SHIFT-JIS"
},
"FirstRowAsHeader":{
"type":"bool",
"defaultValue":false
},
"ColumnDelimiter":{
"type":"string",
"defaultValue":","
},
"ExcludeLinesc":{
"type":"string",
"defaultValue":"0"
},
"SynapseSecretName":{
"type":"string",
"defaultValue":"earth-dev-lsasynloginlsexternaliffodeveda1c81cbd-secret"
},
"ExternalIFComFunctionUrl":{
"type":"string",
"defaultValue":"https://earth-dev-func-jpe-ls-general.azurewebsites.net"
},
"ExternalIFComFunctionSecretName":{
"type":"string",
"defaultValue":"earth-dev-lsfunckeygeneral-secret"
},
"HandleFileFunctionUrl":{
"type":"string",
"defaultValue":"https://earth-dev-func-jpe-ls-handlefile.azurewebsites.net"
},
"HandleFileFunctionSecretName":{
"type":"string",
"defaultValue":"earth-dev-lsfunckeyhandlefile-secret"
},
"ConvertCodeFunctionUrl":{
"type":"string",
"defaultValue":"https://earth-dev-func-jpe-cm-general.azurewebsites.net"
},
"ConvertCodeFunctionSecretName":{
"type":"string",
"defaultValue":"earth-dev-cmfunckeygeneral"
},
"ConvertCodeFunctionParam":{
"type":"string",
"defaultValue":{
"codeCategory":"earth_dp_PayFreeTypeInterface,earth_dp_StillReceiptType,earth_dp_FromImportSystem",
"conversionSource":"FO",
"conversionDestination":"eHub"
}
},
"CompanyCode":{
"type":"string",
"defaultValue":"ALL"
},
"FileId":{
"type":"string",
"defaultValue":"dpne0009"
}
},
"variables":{
"nextExecutionTIme":{
"type":"String"
},
"query":{
"type":"String"
},
"queryDetail":{
"type":"String"
},
"dbName":{
"type":"String",
"defaultValue":"[ls-deveda1c81cbd-scp].[dbo]."
}
},
"folder":{
"name":"0257"
},
"annotations":[],
"lastPublishTime":"2022-10-19T05:17:00Z"
},
"type":"Microsoft.Synapse/workspaces/pipelines"
}
